/*
Custom Css
*/
.btn-arteva {
    color: #ddc6a4;
    background-color: #809598;
    border-color: #809598;
  }

  .texto-dorado{
      color: #ddc6a4;
  }

  .border-gold{
      border-color: #ddc6a4;
  }